@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --background-color: #282d34;
  --primary-color: #ffb742;
  --secundary-color: #1b1f27;
  --optional-color: #141922;
}

/*Elementos Globales*/

* {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
html, body {
  height: 100%;
  width: 100%;
}
body {
  display: flex;
  flex-direction: column;  
  min-width: 320px;
  height: 100%;
  font-size: 1.6rem;
  color: white;  
  background-color: var(--background-color);
  overflow-y: auto;
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

/* Header */
.header {
  width: 100%;  
  height: 8rem;  
  background-color: var(--secundary-color)
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav h1, .nav span {
  font-weight: 700;
}
.nav .bxs-lock, .nav span{
  color: var(--primary-color);
}

.main {
  /* max-width: 1440px; */
  flex: 1;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 5rem;
}
.information, .generator {
  flex: 1;
  padding: 1.5rem;  
}
.information .info__container--title {
  font-size: 5.2rem;
}
.information .info__container--description {
  font-size: 2.2rem;
  margin-top: 2rem;
}
.generator {
  text-align: center;
}
.generator__container--title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 6rem;
  margin: 0 auto;
  background-color: var(--primary-color);
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  color: var(--secundary-color);
}
.generator__container {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 45rem;
  padding: 0 3rem;
  margin: 0 auto;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background-color: white;
  color: var(--secundary-color);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.generator__container--length,
.generator__container--view,
.generator__container--options,
.generator__container--buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;  
}
.generator__container--length {
  flex-direction: column;
  border-bottom: .1rem solid var(--secundary-color);
}
.length {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
  margin-top: 2rem;  
}
.length__slider {
  -webkit-appearance: none;
  width: 100%;
  height: .5rem;
  border-radius: .5rem;
  background: var(--primary-color);
}
.length__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--secundary-color);
  cursor: pointer;
}
.generator__container--options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.options__items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}
.options__items input {
  -webkit-appearance: none;
  width: 20px;
  height: 20px; 
  text-align: center;
  border: .2rem solid var(--primary-color);
  border-radius: .4rem;
  outline: none;
  cursor: pointer; 
}
.options__items input:checked {
  background-color: var(--primary-color);
}
.options__items input:checked::after {
  content: "✓";
  font-weight: 700;
  color: black;
}
.generator__container--view .view__output {
  width: 100%;
  height: 100%;
  padding: 2rem;
  text-align: center;
  align-content: center;
  border: none;  
  outline: none; 
  resize: none;
  border: .2rem solid var(--primary-color);
  border-radius: 2rem;
}
.generator__container--buttons {
  gap: 2rem;
}
.button__copy,
.button__update {
  flex: 1;
  height: 4.5rem;
  border: 0.1rem solid var(--primary-color);
  border-radius: 2rem;
  transition: background-color 0.3s ease;
}
.button__copy {
  background-color: var(--primary-color);
}
.button__copy:hover {
  cursor: pointer;
  background-color: #ffa920;
}
.button__update:hover {
  cursor: pointer;
  background-color: #fde6c3;
}

/* Footer */

.footer {
  height: 8rem;
  padding: 0 6rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;   
}
.footer .span {
  width: 100%;
  border-top: 0.1rem solid var(--primary-color);
  margin-bottom: 2rem;
}
.footer--container {
  display: flex;
  margin: auto;
}
.copyright, .social__container {
  display: flex;
  align-items: center;
  color: white;
}
.copyright p {
  margin: 0 1rem 0 0.3rem;
}
.social {
  display: flex;
  gap: 1rem;
  margin-left: 1rem;  
}
.social__container {
  transition: color 0.3s ease; 
}
.social__container:hover {
  color: var(--primary-color);
}
.social__container i {
  margin-right: 0.3rem;
}