@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --background-color: #282d34;
  --primary-color: #ffb742;
  --secundary-color: #1b1f27;
  --optional-color: #141922;
}

/*Elementos Globales*/

* {
  font-family: "Poppins", sans-serif;
}
body {
  width: 100%;
  min-width: 320px;
  overflow: auto;
  background: var(--background-color);
}